::-webkit-scrollbar {
  width: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: greenyellow;
}

::-webkit-scrollbar-track {
  background-color: pink;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.section1 #div1 {
    background-color: red;
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.section1 #div2 {
    background-color: blue;
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.section1 #div3 {
    background-color: greenyellow;
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.section1 #div4 {
    background-color: green;
    overflow: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.section1 #div5 {
    background-color: pink;
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.section1 #div6 {
    background-color: grey;
    overflow: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.section2 {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        padding: 10px;
      }
      
      .grid-item {
        width: 200px;
        height: 200px;
        background-color: red;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 24px;
      }
      
@media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }
}

.section3 
    .div1 {
        width: 50%;
        position: relative;
    }
    
    .img_1 {
     position: absolute;
     top: 0;
     right: 0;
     z-index: 1;
     width: 150px;
    }
      
      .image-container img {
        transition: transform 0.3s ease-in-out;
      }
      
      .image-container:hover img {
        transform: scale(1.2);
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .red-box {
        width: 200px;
        height: 200px;
        background-color: red;
      }
}

.section5
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #3498db;
    color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
